extends layout

block content
  .landing.rowContainer.center
    .columnContainer.content
      img(src="/images/MalditaLogoWhite.png", alt="").landingLogo
      .txtCenter.ola BECOME 
      .txtCenter MALDITA
